// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.car-detail p span{
  margin-left: 10px;
}

.car {
  min-height: 450px;
}

.margin-right10 {
  margin-right: 10px;
}