// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.car-form {
    width: 100%;
    background: #f1f2ea url(background.gif) repeat-y right;
    float: left;
    margin-right: -100px;
}

.left-form {
    background: #f1f2ea;
    margin-right: 100px;
}

.right-form {
    width: 100px;
    float: left;
}